.form-label {
    @apply font-bold text-xs text-gray-800;
}
.form-control {
    @apply rounded-md bg-gray-50 py-2 px-3;
}
.form-control--error {
    @apply border-red-300 bg-red-50;
}

.form-error {
    @apply text-red-500 font-semibold text-xs;
}
.required::after {
    content: ' *';
    display:inline;
    @apply text-red-500;
}


.login-btn {
    @apply w-full px-4 py-3 bg-gray-800 hover:bg-gray-700 rounded-md text-gray-100 leading-none transition-all ease-in-out duration-200 disabled:opacity-60 disabled:cursor-not-allowed;
}

.item-form {
    @apply w-full rounded-md bg-gray-50 py-2 px-3;
}
.item-form--error {
    @apply bg-red-50;
}

.v3dp__datepicker {
    input {
        @apply w-full rounded-md bg-gray-50 py-2 px-3;
    }
}

thead tr th {
    background: white;
    position: sticky;
    top: 0;
    -webkit-transform: translateZ(0);
}
